* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
  }
  
  body {
    background-color: rgb(244, 247, 250);
    position: relative;
  }
  
  nav {
    padding: 0 20px;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 0 #ffffff, 5px 0 0 #f8f7f7;
  }
  
  #logo-text a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #5445f5;
    font-weight: lighter;
  }
  
  #check {
    display: none;
  }
  
  .toggle {
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
  
    display: none;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    list-style-type: none;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 0 10px;
    color: gray;
    font-weight: 300;
  }
  
  nav ul li a:hover {
    color: #5a4fdc;
  }
  
  .active {
    color: #7f73fd;
  }
  
  #account-container a {
    text-decoration: none;
    padding: 0 10px;
    color: gray;
    font-weight: 300;
  }
  
  #account-container a:nth-child(1) {
    background-color: #c1bbf5;
    color: #fff;
    font-weight: 900;
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  /* header main page style start here */
  
  #header-container {
    height: 85vh;
    padding: 20px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
  }
  
  #header-page-title {
    width: 100%;
  }
  
  #header-page-title h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 40px;
  }
  
  #header-page-title p {
    font-size: 1.1rem;
    color: rgb(167, 161, 161);
    margin-bottom: 40px;
  }
  
  #header-subscribe-form input {
    text-align: center;
    padding: 10px;
    background-color: #e8ebf8;
    border-radius: 5px;
    border: 0;
  }
  
  #header-subscribe-form input:nth-child(2) {
    background-color: rgb(115, 115, 243);
    color: white;
    font-weight: 900;
    border: none;
  }
  
  #header-page-image img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  
  .features {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 50px;
  }
  
  #feature-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #feature-text p {
    font-size: 0.9rem;
    color: gray;
  }
  
  #creativity-features {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  
    margin-bottom: 100px;
  }
  
  #creativity-features-image img {
    width: 100%;
    height: 100%;
  }
  
  #creativity-features-text {
    width: 100%;
    height: 100%;
    padding-top: 80px;
  }
  
  #creativity-features-text h1 {
    font-size: xx-large;
    margin-bottom: 20px;
  }
  
  #creativity-features-text h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }
  
  #creativity-features-text p {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }
  
  .creative-footer-text p {
    font-weight: bolder;
  }
  
  #creativity-btn a {
    text-decoration: none;
    background-color: #5a4fdc;
    color: white;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 3px;
  }
  
  #creativity-btn a:nth-child(2) {
    background-color: #dedbf8;
    color: #5a4fdc;
  }
  
  /* Choose your plan */
  
  #plan-container {
    margin: 30px 70px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  #plan-container .plan-item {
    text-align: center;
    background-color: #e8ebf8;
    padding: 10px 30px 20px;
    border-radius: 5px;
  }
  
  .plan-item p {
    line-height: 40px;
    color: gray;
  }
  
  .plan-money i {
    padding: 15px;
    /* font-size: 2rem; */
    background-color: #5a4fdc;
    color: white;
    border-radius: 10px 10px 0 10px;
    margin-bottom: 10px;
  }
  
  .plan-money i:nth-child(2) {
    border-radius: 0 10px 10px 10px;
  }
  
  .plan-money h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .plan-money h1 {
    font-size: 3rem;
  }
  
  .plan-money h1 span {
    font-size: 1rem;
  }
  
  .plan-money p {
    font-weight: bold;
    color: gray;
  }
  
  .plan-benifit a {
    text-decoration: none;
    border: 2px solid #5a4fdc;
    border-radius: 5px;
    color: #5a4fdc;
    padding: 5px 15px;
  }
  
  #letest-news-container {
    margin: 30px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .letest-image img {
    width: 100%;
    border-radius: 3px;
  }
  
  .admin-and-calender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .calender {
    display: flex;
    gap: 20px;
  }
  
  .admin {
    display: flex;
    gap: 20px;
  }
  
  .letest-text h1 {
    line-height: 60px;
  }
  
  .learn-more-btn {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #5a4fdc;
  }
  
  .learn-more-btn a {
    text-decoration: none;
  }
  
  #contact-us {
    margin: 30px 70px 100px;
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  
  #contact-form-item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
    color: gray;
  }
  
  #contact-form-item input {
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 3px;
    transition: outline 1s;
  }
  
  #contact-form-item input:focus {
    outline: 2px solid #5a4fdc;
  }
  
  textarea {
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 30px;
    width: 100%;
    height: 150px;
  }
  
  textarea:focus {
    outline: 1px solid #5a4fdc;
  }
  
  #send-message-btn {
    background-color: #5a4fdc;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
  }
  
  #send-message-btn input {
    background-color: transparent;
    color: white;
    border: 0;
    font-weight: 900;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 50px;
    color: gray;
  }
  
  .contact-info i {
    font-size: 1.5rem;
  }
  
  footer {
    background-color: #212529;
    color: gray;
    padding: 30px 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  #footer-name h2 {
    color: #5445f5;
    margin-bottom: 10px;
  }
  
  #footer-social-icon {
    margin: 20px 0;
  }
  
  #footer-social-icon i {
    font-size: 1.3rem;
    padding: 0 10px;
  }
  
  .footer-link h4 {
    color: white;
    margin-bottom: 20px;
  }
  
  .footer-link a {
    display: block;
    text-decoration: none;
    line-height: 30px;
    color: rgb(156, 148, 148);
  }
  
  @media screen and (max-width: 600px) and (min-width: 200px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    body {
      font-family: "Montserrat", sans-serif;
      background-color: rgb(244, 247, 250);
      position: relative;
      overflow-x: hidden;
    }
  
    nav {
      padding: 0 20px;
      background-color: #fff;
      height: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0;
      box-shadow: 0 5px 0 #ffffff, 5px 0 0 #f8f7f7;
    }
  
    #logo-text a {
      text-decoration: none;
      font-size: 1.1rem;
      color: #5445f5;
      font-weight: lighter;
    }
  
    #check {
      display: none;
    }
  
    .toggle {
      font-size: 1.5rem;
      color: gray;
      cursor: pointer;
  
      display: block;
    }
  
    nav ul {
      width: 100%;
      height: 100vh;
      padding: 50% 0 0 0;
      text-align: center;
      background-color: #fbfbff;
      display: block;
      justify-content: space-around;
      position: absolute;
      top: 50px;
      left: -100%;
      transition: all 1s;
    }
  
    nav ul li {
      list-style-type: none;
    }
  
    nav ul li a {
      text-decoration: none;
      padding: 0 10px;
      color: gray;
      font-weight: 300;
      line-height: 2em;
      font-size: 1.5rem;
    }
  
    nav ul li a:hover {
      color: #5a4fdc;
    }
  
    .active {
      color: #7f73fd;
    }
  
    #account-container a {
      display: block;
      text-decoration: none;
      padding: 0 10px;
      color: gray;
      font-weight: 300;
    }
  
    #account-container a:nth-child(1) {
      background-color: #c1bbf5;
      color: #fff;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
    }
  
    #check:checked ~ ul {
      /* top: 50px; */
      left: 0;
    }
  
    /* Header container */
    #header-container {
      height: 100vh;
      padding: 20px 60px;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      gap: 30px;
    }
  
    #header-page-title {
      width: 100%;
    }
  
    #header-page-title h1 {
      font-size: 1.5rem;
      font-weight: bolder;
      margin-bottom: 40px;
    }
  
    #header-page-title p {
      font-size: 1.1rem;
      color: rgb(167, 161, 161);
      margin-bottom: 40px;
    }
  
    #header-subscribe-form input {
      text-align: center;
      padding: 10px;
      margin: 0 0 10px 0;
      background-color: #e8ebf8;
      border-radius: 5px;
      border: 0;
      width: 100%;
    }
  
    #header-subscribe-form input:nth-child(2) {
      background-color: rgb(115, 115, 243);
      color: white;
      font-weight: 900;
      border: none;
    }
  
    #header-page-image img {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  
    .features {
      text-align: center;
      padding: 0 50px;
      margin: 0 0 50px 0;
    }
  
    #feature-text h1 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  
    #feature-text p {
      font-size: 0.9rem;
      color: gray;
    }
  
    #creativity-features {
      padding: 0 20px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
  
      margin-bottom: 100px;
    }
  
    #creativity-features-image img {
      width: 100%;
      height: auto;
    }
  
    #creativity-features-text {
      width: 100%;
      /* height: 100%; */
      padding-top: 20px;
    }
  
    #creativity-features-text h1 {
      font-size: xx-large;
      margin-bottom: 10px;
    }
  
    #creativity-features-text h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  
    #creativity-features-text p {
      font-size: 0.9rem;
      margin-bottom: 15px;
    }
  
    .creative-footer-text p {
      font-weight: bolder;
    }
  
    #creativity-btn a {
      text-decoration: none;
      background-color: #5a4fdc;
      color: white;
      font-weight: 900;
      padding: 10px 20px;
      border-radius: 3px;
      font-size: 0.8rem;
    }
  
    #creativity-btn a:nth-child(2) {
      background-color: #dedbf8;
      color: #5a4fdc;
    }
  
    #plan-container {
      margin: 15px 20px 40px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }
  
    #plan-container .plan-item {
      text-align: center;
      background-color: #e8ebf8;
      padding: 10px 30px 20px;
      border-radius: 5px;
    }
  
    .plan-item p {
      line-height: 40px;
      color: gray;
    }
  
    .plan-money i {
      padding: 15px;
      /* font-size: 2rem; */
      background-color: #5a4fdc;
      color: white;
      border-radius: 10px 10px 0 10px;
      margin-bottom: 10px;
    }
  
    .plan-money h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    .plan-money h1 {
      font-size: 2rem;
    }
  
    .plan-money h1 span {
      font-size: 1rem;
    }
  
    .plan-money p {
      font-weight: bold;
      color: gray;
    }
  
    .plan-benifit a {
      text-decoration: none;
      border: 2px solid #5a4fdc;
      border-radius: 5px;
      color: #5a4fdc;
      padding: 5px 15px;
    }
  
    #letest-news-container {
      margin: 10px 20px 50px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }
  
    .letest-image img {
      width: 100%;
      border-radius: 3px;
    }
  
    .admin-and-calender {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  
    .calender {
      display: flex;
      gap: 20px;
    }
  
    .admin {
      display: flex;
      gap: 20px;
    }
  
    .letest-text h1 {
      line-height: 60px;
    }
  
    .learn-more-btn {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
      color: #5a4fdc;
    }
  
    .learn-more-btn a {
      text-decoration: none;
    }
  
    #contact-us {
      margin: 10px 5px;
  
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;
      max-width: 600px;
    }
  
    #contact-form-item {
      margin: 5px;
      display: flex;
      /* justify-content: space-between; */
      flex-direction: column;
      gap: 10px;
      margin-bottom: 30px;
      color: gray;
    }
  
    #contact-form-item input {
      padding: 10px 15px;
      border: 1px solid gray;
      border-radius: 3px;
      width: 100%;
      transition: outline 1s;
    }
  
    #contact-form-item input:focus {
      outline: 2px solid #5a4fdc;
    }
  
    textarea {
      padding: 5px;
      border-radius: 3px;
      margin-bottom: 30px;
      height: 150px;
      width: 100%;
    }
  
    textarea:focus {
      outline: 1px solid #5a4fdc;
    }
  
    #send-message-btn {
      background-color: #5a4fdc;
      padding: 5px 10px;
      border-radius: 3px;
      color: white;
    }
  
    #send-message-btn input {
      background-color: transparent;
      color: white;
      border: 0;
      font-weight: 900;
    }
  
    .contact-info {
      display: flex;
      align-items: center;
      gap: 10px;
      line-height: 30px;
      color: gray;
    }
  
    .contact-info i {
      font-size: 1.2rem;
    }
  
    footer {
      background-color: #212529;
      color: gray;
      padding: 30px 10px;
      display: grid;
      grid-template-columns: 1fr;
      /* gap: 20px; */
      width: 100%;
    }
  
    #footer-name h2 {
      color: #5445f5;
      margin-bottom: 10px;
    }
  
    #footer-social-icon {
      margin: 20px 0;
    }
  
    #footer-social-icon i {
      font-size: 1.3rem;
      padding: 0 10px;
    }
  
    .footer-link h4 {
      color: white;
      margin-bottom: 20px;
    }
  
    .footer-link a {
      display: block;
      text-decoration: none;
      line-height: 30px;
      color: rgb(156, 148, 148);
    }
  }